/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY BASE STYLES */
body {
    min-height: 100vh;
    background-color: #0f172a;
    color: #e5e7eb;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER */
.container {
    text-align: center;
}
